.checkbox {
    display: flex;
    align-items: baseline;
    position: relative;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox .checkmark {
    display: inline-block;
    position: relative;
    top: 2px;
    height: 14px;
    width: 14px;
    border-radius: 2.5px;
    box-shadow: var(--checkbox-shadow);
    background: var(--checkbox-background);
}

.checkbox p {
    margin-left: 5px;
    font-size: var(--text-normal);
}

body:not(.blurred) .checkbox input:checked ~ .checkmark {
    background: var(--button-active-background);
    box-shadow: none;
}

body:not(.blurred) .checkbox input:checked:active ~ .checkmark {
    background: var(--primary-darken-color);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox input:active ~ .checkmark {
    background: var(--checkbox-active-background);
}

.checkbox .checkmark:after {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
    background: url("../../../public/assets/checkmark.svg");
    background-size: cover;
    filter: opacity(0.95);
}
